.main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.sign-button{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50% !important;
}